
p {
	padding-top: 20px;
}
.logo{
	width: 130px;
	height: 30px;
}	
.marco {
	width: 80%;
	border: 1px solid gray;
	display: table;
	margin-left: 10%;
	padding: 20px 50px;
	background-color: white;

}
.contenedor {
	width: 95%;
	margin: auto;

}
.contenedor input {
	float: right;
	margin-right: 10px;
	box-shadow: 1px 1px 2px black;
	padding: 5px 10px;
}
.bl {
	background-color: blue;
	border: 1px solid blue;
	color: white;
}
.rj {
	color: blue;
}
.left {
	width: 50%; 
	float: left;
	padding: 10px 20px;
}
.rigth {
	width: 50%;
	float: right;
	text-align: right;
	padding: 10px 20px;
}
.rigth h3, .rigth h4{
	width: 100%;
	text-align: right;
}
.descripcion {
	width: 90%;
	margin: auto;
	display: table;
	background-color: #F2F2F2;
	padding: 10px 20px;
	border-radius: 3px;
}
.descripcion h5 {
	float: left;
	width: 50%;
}
.descripcion label {
	float: right;
	width: 50%;
	text-align: right;
}
br {
	width: 100%;
	height: 10px;
	clear: both;
}
.comentarios{
	overflow-y: scroll;
	height: 300px;
	background: #ECECEC; 
}
@media print {
  /* Contenido del fichero print.css */
  #app-navbar-collapse, .btn {
  	display: none;
  }
  .contenedor {
  	width: 100%;
  }
}
